.text-gray {
	color: #aeaeae;
}
a.text-gray:hover {
	color: #aeaeae;
}
.text-line-none {
	text-decoration: none;
}
.text-dark-red {
	color: #930909;
	text-decoration: none;
}

.text-dark-red:hover {
	color: #b11212;
}
