.text-gray {
	color: #aeaeae;
}
a.text-gray:hover {
	color: #aeaeae;
}
.text-line-none {
	text-decoration: none;
}
.text-dark-red {
	color: #930909;
	text-decoration: none;
}

.text-dark-red:hover {
	color: #810909;
}
.list-studi {
	padding-left: 18px;
}
.separator {
	display: flex;
	align-items: center;
}

.separator .line {
	flex: 1;
	height: 3px;
	background-color: #b6b7b7;
	margin-left: 1rem;
}

.btn.btn-base {
	background-color: #930909;
	color: #ffffff;
}
a.btn.btn-base:hover {
	background-color: #810909;
	color: #ffffff;
}
.banner {
	width: 100%;
	background-size: cover;
}
.vl {
	border-left: 2px solid #930909;
	height: 250px;
}
@media screen and (max-width: 1000px) {
	.vl {
		display: none;
	}
}
