a {
	text-decoration: none;
}

a.pengumuman {
	text-decoration: none;
}
.btn.btn-base {
	background-color: #930909;
	color: #ffffff;
}
a.btn.btn-base:hover {
	background-color: #810909;
	color: #ffffff;
}
.left-line {
	border-left: 3px solid #930909;
	padding-left: 10px;
}

Link {
	text-decoration: none;
	color: gray;
}
.berita {
	text-decoration: none;
}
#link {
	text-decoration: none;
	color: #000000;
}
#link:hover {
	color: #930909;
}
